@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #fffeff;
    color: #232323;
    font-family: 'Roboto Slab', serif;
}

.spinner {
    width: 50%;
    height: 90vh;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 1rem;
}

h4 {
    margin: 1rem;
}

form {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    font-family: 'Roboto Slab', serif;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #232323;
    border-radius: 2px;
}

button {
    background: #FFFEFF;
    color: #232323;
    font-family: 'Roboto Slab', serif;
    border: 2px solid #232323;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

button:hover {
    box-shadow: -3px 3px #c1fffa;
}

button:active {
    
    box-shadow: -3px 3px #feceff;
}

ul {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    width: 60%;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    color: #232323;
    border: 2px solid #232323;
    border-radius: 2px;
    box-shadow: -8px 8px #c1fffa;
    transition: 0.2s ease-in-out;
}

a {
    color: #232323;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

li:hover {
    box-shadow: -8px 8px #feceff;
}

li:visited {
    box-shadow: -8px 8px #feceff;
}